# Data Science Tools and Ecosystem

This is the final assignment of Course 2: Tools for Data Science. In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. pandas
3. matplotlib
4. tensorflow
5. keras
6. scikit-learn
7. pytorch
8. seaborn

| Data Science Tools          |
|-----------------------------|
| Jupyter Notebook            |
| RStudio                     |
| Visual Studio Code (VS Code)|
| Jupyter Lab                 |
| Apache |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to mutiply then add integers.
(3 * 4) + 5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60.
t = 200 
t2 = 200 / 60
print(f"{t} minutes = {t2} hours")

200 minutes = 3.3333333333333335 hours

Objectives:
- Make a H1 heading
- List some of the popular lanuages that Data Scientists use
- List some of the common libraries used by Data Scientists
- Make a table of some common Data Science tools
- Use code to multiply and add numbers

## Author
Reese Quinto